<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517525659735-8vp4bfmn8pd131anl348cjksvl4o7mvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517525659735-8vp4bfmn8pd131anl348cjksvl4o7mvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtCqOqdkIV7MOV_a7dggivM2j4FFvjkU</string>
	<key>GCM_SENDER_ID</key>
	<string>517525659735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.letaem-bez-straha.emotional-aid</string>
	<key>PROJECT_ID</key>
	<string>emotional-aid-8de3a</string>
	<key>STORAGE_BUCKET</key>
	<string>emotional-aid-8de3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517525659735:ios:664465b1cc5585cef1c312</string>
</dict>
</plist>